<div id="step1">
	<h4>Step 1 : Input Metadata</h4>
	<div style="padding:0 0 0 20px">
		<p>(1)	Login here and go to 
			<a href="/gardener"> http://www.firmiana.org/gardener</a>
		</p>
		<p>(2)	Click [Experiment Management] at the top of homepage. Add reagent, sample and experiment in turn.</p>
		<!--p style="text-indent: 3em"><img src="/static/images/temp_menu.jpg" height="150" width="170" id="feature-img1" class="jpg" alt="/static/images/temp_menu.jpg"/></p-->
	</div>
</div>
<p>
	<a href="/gardener/help"> Learn more...</a>
</p>
					
<div id="step2">
	<h4>Step 2 : Upload dataset</h4>
	<div style="padding:0 0 0 20px">
		<p>(1)	Rule for file name :</p>
		<div style="padding:0 0 0 30px">
			<p>Example 1: YOUR_FILE_NAME_F01_R01.raw</p>
			<p>Example 2: YOUR_FILE_NAME_F02_R01.raw</p>
			<p>Beginning "YOUR_FILE_NAME" is the origin file name or any name you like, "_F01" and "_R01" in tail mean "fraction number" and "repeat number".</p>
		</div>
		<p>(2)	Upload path :</p>
		<div style="padding:0 0 0 30px">
			<p>Experimenters of BPRC can upload data to the NAS path used before. In folder named "For Galaxy", there are existed folders, like "/Velos/80047/" </p>
		</div>
		<p>(3) Folder Architecture :</p>
	</div>
	<!--div style="text-indent: 3em">
			<img src="/static/images/folder_example.jpg" height="380" width="480" id="feature-img2" class="jpg" alt="/static/images/folder_example.jpg"/>
		</div-->
</div>
<p>
	<a href="/gardener/help"> Learn more...</a>
</p>
					
<div id="step3">
	<h4>Step 3 : Waiting for the execution of workflow</h4>
	<div style="padding:0 0 0 20px">
		<p>Firmiana will match proper workflow for added experiments and execute it in order.</p>
	</div>
</div>
<p>
	<a href="/gardener/help"> Learn more...</a>
</p>

<h4>Step 4 : Tracking workflow progress</h4>





<div id="step4">
	<div style="padding:0 0 0 20px">
		<p>&nbsp;&nbsp;Viewing 
			<a href="/gardener">http://www.firmiana.org</a>
		for status of added experiments. If the progress of your experiment stands still for over one day,
		please click the color bar at column "Progress" to check if there is any error in workflow, 
		then contact administrator Jinwen Feng or Naiqi Qiu. We will keep on checking the system frequently to ensure every workflow running well.
		</p>
		<br/>
		<p style="text-align:center">Jinwen Feng : 
			<a href="mailto:fengjinwen1990@gmail.com">fengjinwen1990@gmail.com</a>
		</p>
		<p style="text-align:center">Naiqi Qiu : 
			<a href="mailto:hzqnq@163.com">hzqnq@163.com</a>
		</p>
	</div>
</div>
<p>
	<a href="/gardener/help"> Learn more...</a>
</p>