<!DOCTYPE html>
<html>
<head>
<title>Qiunq-Gardener-Firmiana</title>
<link rel="shortcut icon" type="image/ico" href="/static/images/favicon4.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
	<script type="text/javascript" src="/static/ext-6.0.0/build/ext-all-debug.js"></script>
    <script id="microloader" data-app="45798b8e-e392-4d69-83e8-c8fe709526f7" type="text/javascript" src="/static/javascript/dataMining/bootstrap.js"></script> 
    <script type="text/javascript" src="/static/javascript/dataMining/app.js"></script>   
</body>
</html>