
<!DOCTYPE html>
<html lang="en">
	
<head>
    <meta charset="utf-8">
    <title>Search in NCBI(user:{{user}})</title>
    <meta name="description" content="firmiana" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" type="image/ico" href="/static/images/favicon2.ico" />
	
	<link rel="stylesheet" type="text/css" href="/static/ext4/resources/css/ext-all-gray.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/gar.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/entrez_page.css" />

    <!--script type="text/javascript" src="/static/javascript/goto_top.js"></script-->
    <script type="text/javascript" src="/static/ext4/ext-all-debug.js"></script>
    <script type="text/javascript" src="/static/javascript/entrez/entrez.js"></script>
    
    
</head>
<body>
<div id="outer">
	<div id="inner">
		<div id ="main" class="content">
			
		</div>
	</div>
</div>
</body>
</html>

