<!DOCTYPE html>
<html>
<head>
<title>Qiunq-Gardener-Firmiana</title>
<!-- Ext includes -->
<link rel="shortcut icon" type="image/ico"
	href="/static/images/favicon4.ico" />
<!-- {% if theme %}
<link rel="stylesheet" type="text/css"
	href="/static/ext-6.0.0/resources/ext-theme-{{theme}}/ext-theme-{{theme}}-all.css" />
{% else %}
<link rel="stylesheet" type="text/css"
	href="/static/ext-6.0.0/example/main.css" />
{% endif %} -->
<!-- <link rel="stylesheet" type="text/css" href="/static/ext-6.0.0/build/classic/theme-neptune/resources/theme-neptune-all.css" /> -->
<link rel="stylesheet" type="text/css" href="/static/css/gar.css" />

<link rel="stylesheet" type="text/css"
	href="/static/extjs-4.2.2/examples/shared/example.css" />

<link rel="stylesheet" type="text/css"
	href="/static/css/jheatmap-1.0.0.css" />

<link rel="stylesheet" type="text/css"
	href="/static/cytoscape/style.css" />



</head>
<body>
	<div id='loading_pic'></div>
	<!-- div style="display: none">
			<script type="text/javascript" src="http://jg.revolvermaps.com/2/3.js?i=6esfq1hv31z&amp;b=0&amp;s=40&amp;m=2&amp;cl=ffffff&amp;co=010020&amp;cd=aa0000&amp;v0=60&amp;v1=60&amp;r=1" async="async"></script>
		</div-->
	<!--  script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script-->
	<script type="text/javascript"
		src="http://code.jquery.com/jquery-latest.min.js"></script>
	<!--script type="text/javascript" src="/static/ext4/ext.js"></script-->
	<script type="text/javascript" src="/static/ext-6.0.0/build/ext-all-debug.js"></script>
	<!-- Manual js -->
	<script type="text/javascript" src="/static/javascript/gardener/app.js"></script>

	<!--  script type="text/javascript" src="/static/javascript/GoogleAnalytics.js"></script-->

	<script type="text/javascript"
		src="/static/canvasxpress/js/canvasXpress.min.js"></script>

	<script type="text/javascript"
		src="/static/extjs-4.2.2/examples/shared/examples.js"></script>

	<script src="/static/jheatmap/js/jheatmap-1.0.0.js"
		type="text/javascript"></script>

	<!-- script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script-->

	<script type="text/javascript"
		src="/static/cytoscape/build/cytoscape.js"></script>
</body>
</html>