<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
		<title>Develop Enviroment</title>
		
		<link rel="stylesheet" type="text/css" href="/static/css/developENV/style.css" />
		
		<!--script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script-->
		<!--script src="http://libs.baidu.com/jqueryui/1.8.22/jquery-ui.min.js "></script-->
 
	</head>

	<body>
		<div class="outer">
			<div class="inner">
				<div class="top">
					<h2>Firmiana Develop Enviroment</h2>
				</div> 
			
				<div class="center_region">
	
					<p></p>
					<p>Software needed in your local PC</p>
				
					<p></p>
					<p></p>
					<table align="center" border="1" class="mytable">
						<th>Package</th>
						<th>Download Link</th>
						<tr>
							<td>Eclipse Kepler(64bit)</td>
							<td>
								<a target="_black" href="http://pan.baidu.com/s/1gdgn8rD">http://pan.baidu.com/s/1gdgn8rD</a>
							</td>
						</tr>
						<tr>
							<td>Python2.7(64bit)</td>
							<td>
								<a target="_black" href="http://pan.baidu.com/s/1gdmtgR5">http://pan.baidu.com/s/1gdmtgR5</a>
							</td>
						</tr>
						<tr>
							<td>ExtJS 4.2.1</td>
							<td>
								<a target="_black" href="http://pan.baidu.com/s/10GBkq">http://pan.baidu.com/s/10GBkq</a>
							</td>
						</tr>
						<tr>
							<td>Navicat</td>
							<td>
								<a target="_black" href="#">unknow</a>
							</td>
						</tr>
					</table>
					
					<br/>
					<br/>
					
					<p>Some documents you may need</p>
					<table align="center" border="1" class="mytable">
						<th>Docs</th>
						<th>Link</th>
						<tr>
							<td>UCSC Genome Browser</td>
							<td>
								<a target="_black" href="http://genome.ucsc.edu/">http://genome.ucsc.edu/</a>
							</td>
						</tr>
						<tr>
							<td>KEGG</td>
							<td>
								<a target="_black" href="http://www.kegg.jp/">http://www.kegg.jp/</a>
							</td>
						</tr>
						<tr>
							<td>Django</td>
							<td>
								<a target="_black" href="http://www.djangobook.com/en/2.0/index.html">http://www.djangobook.com/en/2.0/index.html</a>
							</td>
						</tr>
						<tr>
							<td>ExtJS 4.2.1</td>
							<td>
								<a target="_black" href="http://docs.sencha.com/extjs/4.2.1/">http://docs.sencha.com/extjs/4.2.1/</a>
							</td>
						</tr>
						<tr>
							<td>Galaxy</td>
							<td>
								<a target="_black" href="http://wiki.galaxyproject.org/Admin/Get%20Galaxy">http://wiki.galaxyproject.org/Admin/Get%20Galaxy</a>
							</td>
						</tr>
						<tr>
							<td>ExtJS Document Generator</td>
							<td>
								<a target="_black" href="https://github.com/senchalabs/jsduck/wiki">https://github.com/senchalabs/jsduck/wiki</a>
							</td>
						</tr>
						
					</table>
					
					<br/>
					<br/>
				</div>


				
			</div>
		</div>
	</body>
	
</html>