<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>DreamTemplate</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>
<body>
<div class="main">
  <div class="blok_header">
    <div class="header">
      <div class="rss"><a href="#"><img src="images/rss_3.gif" alt="rss" width="16" height="16" border="0" /></a> <a href="#"><img src="images/rss_2.gif" alt="rss" width="16" height="16" border="0" /></a> <a href="#"><img src="images/rss_1.gif" alt="rss" width="16" height="16" border="0" /></a> Follow us on social network </div>
      <div class="search">
        <form id="form1" name="form1" method="post" action="">
          <label><span>
            <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />
            </span>
            <input name="b" type="image" src="images/search.gif" class="button" />
          </label>
        </form>
      </div>
      <div class="text">Click here to live Support  Tell Free <a href="#">1-111-123-456-789</a></div>
      <div class="clr"></div>
      <div class="logo"><a href="index.html"><img src="images/logo.gif" width="211" height="115" border="0" alt="logo" class="one" /></a></div>
      <div class="menu">
        <ul>
          <li><a href="index.html"><span>Home Page </span></a></li>
          <li><a href="services.html"><span>Services</span></a></li>
          <li><a href="services.html"><span>Portfolio</span></a></li>
          <li><a href="about.html" class="active"><span> About Us </span></a></li>
          <li><a href="contact.html"><span> Contact Us</span></a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="header_blog">
        <div class="header_blog_resize"> <a href="#"><img src="images/click.gif" alt="click" width="218" height="63" border="0" /></a>
          <div class="recent">
            <h2>About Us</h2>
          </div>
          <div class="clr"></div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
  <div class="body_resize">
    <div class="body">
      <div class="body_bg">
        <h2>About Company</h2>
        <img src="images/about_img.jpg" alt="about" width="915" height="194" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#" class="about">Pellentesque diam ligula</a>, egestas eget rhoncus vel, hendrerit in sem. Vivamus laoreet erat sit amet ante ullamcorper vestibulum. Duis porta, nisl sed cursus volutpat, est nulla placerat mauris, id viverra leo ante sed leo. Vivamus fermentum dignissim sem, quis pellentesque dolor posuere vel. In vitae lorem ligula, a congue nibh. Nulla vitae blandit libero. Sed nisi metus, dictum id placerat sed, adipiscingut</p>
        <p>Lorem ipsum dolor sit amet, cons ectet uer adipiscing elit, sed <a href="#" class="about">diam nonummy nibh euismod</a> tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut sed diam nonummy nibh euismod tinc is a siamet, consec tetuer adipiscing elit, sed diam nonumy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
        <div class="clr"></div>
      </div>
      <div class="left">
        <h2>Who we are<br />
          <a href="#" class="about">We bring value innovation and growth to your business</a></h2>
        <p>Nullam aliquam porttitor risus vel porta. Quisque porttitor posuere diam. Aenean vel dapibus leo. Quisque non neque dolor, vel imperdiet massa. Quisque a enim ac nisl tincidunt pharetra id ut nulla.<br />
          In vitae metus at neque elementum condimentum. Quisque fringilla porta metus, in posuere tellus ullamcorper in. Sed at metus velit. Aliquam consequat venenatis tortor, vel elementum mi laoreet tristique. </p>
        <h2>Our Mission</h2>
        <p>Sed tincidunt turpis posuere neque dictum quis faucibus felis tempus. Ut faucibus sem a nisi feugiat volutpat. Vivamus quis vulputate mauris. In suscipit sollicitudin mattis. Integer non nisl eu metus dapibus dapibus. Maecenas dui urna, luctus ac posuere at, semper vel lectus. Etiam lobortis porttitor tellus, ac adipiscing leo scelerisque ac. Aliquam iaculis orci sit amet est consequat tempus. Pellentesque quis dui ut purus auctor egestas. Ut ligula neque, aliquam elementum bibendum vitae, suscipit dictum lacus. <br />
          Proin lobortis consectetur eros vel mattis. Nullam aliquam porttitor risus vel porta. Quisque porttitor posuere diam. Aenean vel dapibus leo. Quisque non neque dolor, vel imperdiet massa. Quisque a enim ac nisl tincidunt pharetra id ut nulla.</p>
        <h2>&nbsp;</h2>
      </div>
      <div class="right">
        <h2>News and Events</h2>
        <p><a href="#" class="about">12 Dec 2015 | 0 comments</a><br />
          <strong>Duis nec porttitor lorem</strong><br />
          Integer lacus ante then ante ullamcorper ut vulputate..</p>
        <p><a href="#" class="about">18 Dec 2015 | 5 comments</a><br />
          <strong>Aenean interdum</strong><br />
          Vestibulum ante ipsum luctus ultrices antene posuere.</p>
        <p><a href="#" class="about">4 Jan 2015 | 2 comments</a><br />
          <strong>Integer vitae nisl</strong><br />
          Duis volutpat ligula laoreet orci lectus placerat <br />
          Curabitur lectus malesuada pulvinar.</p>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="footer">
  <div class="footer_resize"> <a href="/"><img src="images/footer_logo.gif" alt="logo_footer" width="145" height="59" border="0" /></a>
    <p class="right">© Copyright websitename . All Rights Reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
</div>
</body>
</html>
