<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Firmiana</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- css -->
<link href="/static/homepageDemo/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/homepageDemo/css.leanModal/jquery.leanModal.style.css" /><!-- jquery.leanModal -->

<!-- jquery.leanModal script -->
<script type="text/javascript" src="/static/homepageDemo/js/jquery.js"></script>
<script type="text/javascript" src="/static/homepageDemo/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/homepageDemo/js/jquery.leanModal.min.js"></script>
<script type="text/javascript">
	$(function () {
		$('a[rel*=leanModal]').leanModal({ top: 200, closeButton: ".modal_close" });
    });
</script>

<script type="text/javascript" src="/static/homepageDemo/js/swfobject/swfobject.js"></script>
<script type="text/javascript">
		var flashvars = {};
		flashvars.xml = "/static/homepageDemo/config.xml";
		flashvars.font = "/static/homepageDemo/font.swf";
		var attributes = {};
		attributes.wmode = "transparent";
		attributes.id = "slider";
		swfobject.embedSWF("/static/homepageDemo/cu3er.swf", "cu3er-container", "960", "400", "9", "expressInstall.swf", flashvars, attributes);
</script>

<script type="text/javascript">
	function insert(){
		var username = document.cookie.split("=")[3];
		document.getElementById("welcome"). innerHTML = "Welcome back, Dr." + username;
	}
</script>
<!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>
<body>
<div class="main">
	<div class="blok_header">
		<div class="header">
			<div class="rss"><a href="#"><img src="/static/homepageDemo/images/rss_3.gif" alt="rss" width="16" height="16" border="0" /></a> <a href="#"><img src="/static/homepageDemo/images/rss_2.gif" alt="rss" width="16" height="16" border="0" /></a> <a href="#"><img src="/static/homepageDemo/images/rss_1.gif" alt="rss" width="16" height="16" border="0" /></a> Follow us on social network </div>
			<!--
			<div class="login"> 
				<a href="quote/login.html" class="login_img">&nbsp;</a>
			</div>
			-->
			<!-- -->
			
			<div class="search" id="logins">
				<div id="welcome" class="text" style="margin:0px 20px 0px 0px">
				</div>
			</div>
			
			<div class="text">Click here to live Support  Tell Free <a href="#">1-111-123-456-789</a></div>
			<div class="clr"></div>
	  
			<div class="logo">
				<a href="index.html">
					<table>
						<tr>
							<th><img src="/static/homepageDemo/images/firmiana_logo.png" width="105" height="95" border="0" alt="logo" class="one" /></th>
							<th><img src="/static/homepageDemo/images/firmianaText1.png" width="165" height="95" border="0" alt="logo" class="one" /></th>
						</tr>
					</table>
				</a>
			</div>
			
			<div class="menu">
				<ul>
					<li><a href="index.html" class="active"><span>Home Page </span></a></li>
					<li><a href="Gardener.html"><span>Gardener</span></a></li>
					<li><a href="Responder.html"><span>Responder</span></a></li>
					<li><a href="about.html"><span> About Us </span></a></li>
					<li><a href="contact.html"><span> Contact Us</span></a></li>
				</ul>
			</div>
			<div class="clr"></div>
			
			<div class="header_blog">
				<div class="header_blog_resize">
					<div class="recent">
						<p><span>
							Firmiana is a "one-stop" data analysis platform for proteome data, 
							composed of a series of analysis tools for Mass Spectra data 
							from experimental design to statistical analysis and further bioinformatics mining technique, 
							such as peptide identification, peptide quantification, protein quantification.
						</span></p>
					</div>

					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</div>
			
			<!--
			<div id="home_nav"></div>
			<div class="middlebody">
				<div class="body_resize">
					<div id="home_nav">hahah</div>
				<div>	
			</div>
			-->

			<div class="clr"></div>
		</div>
		
		<div class="cu3er_resize">
			<div id="cu3er-container"><a href="#"> <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></div>
		</div>
	</div>
		
	<div class="clr"></div>
	<div class="body_resize">
		<div class="body">
			<div class="body_bg">
				<h2>Welcome to Our Website</h2>
				<img src="/static/homepageDemo/images/img_1.gif" alt="img" width="64" height="72"  class="floated"/>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque diam ligula, egestas eget rhoncus vel, hendrerit in sem. Vivamus laoreet erat sit amet ante ullamcorper vestibulum. Duis porta, nisl sed cursus volutpat, est nulla placerat mauris, id viverra leo ante sed leo. Vivamus fermentum dignissim sem, quis pellentesque dolor posuere vel. In vitae lorem ligula, a congue nibh. </p>
				<div class="clr"></div>
			</div>
			<div class="body_main">
				<h2>Whu Choose Us</h2>
				<img src="/static/homepageDemo/images/img_2.gif" alt="img" width="64" height="72" class="floated" />
				<p>Ad malorum ceteros percipitur duo, no alii eros copiosae ius, ius nostrud offendit accommodare at. Everti facilis singulis eam no, vis quaestio consetetur nod malorum ceteros percipitur duo, no alii eros copiosae ius, ius nostrud offendit accommodare at. Everti facilis singulis eam no, vis quaestio consetetur</p>
				<div class="clr"></div>
			</div>
					
			<img src="/static/homepageDemo/images/fbg_bg_top.gif" alt="images" width="960" height="39" />
			<div class="port_resize">
				<h3>Interface development<br />
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></h3>
				<img src="/static/homepageDemo/images/fbg_1.jpg" alt="img" width="289" height="82" />
				<p><a href="#">Lorem ipsum dolor sit amet,</a> consectetur adipisi cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisnostrud exercitation ullamco laboris nisi ut aliquip.</p>
				<p><a href="#"><strong>read more »</strong></a></p>
			</div>
			<div class="port_resize">
				<h3>Interface development<br />
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></h3>
				<img src="/static/homepageDemo/images/fbg_2.jpg" alt="img" width="289" height="82" />
				<p><a href="#">Lorem ipsum dolor sit amet,</a> consectetur adipisi cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisnostrud exercitation ullamco laboris nisi ut aliquip.</p>
				<p><a href="#"><strong>read more »</strong></a></p>
			</div>
			<div class="port_resize">
				<h3>Interface development<br />
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></h3>
				<img src="/static/homepageDemo/images/fbg_3.jpg" alt="img" width="289" height="82" />
				<p><a href="#">Lorem ipsum dolor sit amet,</a> consectetur adipisi cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisnostrud exercitation ullamco laboris nisi ut aliquip.</p>
				<p><a href="#"><strong>read more »</strong></a></p>
			</div>
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
	</div>
</div>
<div class="footer">
	<div class="footer_resize"> 
		<!--<a href="/"><img src="images/firmianaText2.png" alt="logo_footer" width="145" height="119" border="0" /></a>-->
		<p class="right">© ECNU Firmiana. All rights reserved. Design by <a href="mailto:proteome.firmiana@foxmail.com" target="_blank" title="Administrator's E-mail">Firmiana Team</a></p>
		<div class="clr"></div>
	</div>
	<div class="clr"></div>
</div>

<!--Login_MessegeBox-->
    <div id="signup">
        <div id="signup-ct">
            <div id="signup-header">
                <h2>Login Firmiana</h2>
                <p>Welcome!</p>
                <a class="modal_close" href="#"></a>
            </div>
           
			<div class="txt-fld">
				<label for="">Username</label>
				<input type="text" class="good_input" name="email" id="email"/>
			</div>
			<div class="txt-fld">
				<label for="">Password</label>
				<input type="password" id="password" name="password"  />
			</div>
			<div class="btn-fld">
				<button type="submit" name="submit" id="submit" onclick="validate()">Login &raquo;</button>
				
				<script type="text/javascript">
					function validate(){
						//alert("validate()");
						var email = document.getElementById("email").value;
						var password = document.getElementById("password").value;
						var loginFlag = false;
						if(email=="" || password==""){
							alert("Username or password cannot be null!");
						}
						else{
							//alert("validate login");
							//loginFlag = true;
							ajaxTest(email, password);
							//loginFlag = false;
						}	
					}
					
					function ajaxTest(email, password){
						//alert(email + " " + password);
						var aj = $.ajax({
							type:"POST",
							url:"http://61.50.134.132/logins/",
							data:{
								email:email,
								password:password
							},
							datatype: "json",
							success: function(data){
								var json = eval("("+data+")");
								text = json.success;
								if(text==1){
									//alert("success");
									//move to loginSuccess page
									//window.location.href = "http://61.50.134.132";
									//hide div
									document.getElementById('signup').style.display = "none";
									document.getElementById('signup-ct').style.display = "none";
									
									var aj1 = $.ajax({
										type:"POST",
										url:"http://61.50.134.132/loginNewDemo/",
										data:{
											email:email,
											password:password
										},
										datatype: "html",
										success: function(data){
											alert("success");
										},
										error: function(){
											alert("error");
										}
										
									});
									
								}
								else{
									alert("Username or password is wrong!")
								}
								return text;
							},
							error: function(){
								alert("error");
							}
						});
					}
					
    

    
 
					
	
				</script>
			</div>
			
        </div>
    </div>

</body>
</html>

  
