@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#ececee; }
html { padding:0; margin:0;}

a { text-decoration:none;}
a:hover { text-decoration:underline;}
/* main */
.main { padding:0; margin:0 auto;}
/********** header **********/
.blok_header { margin:0; padding:0; background: #ececec url(images/header_bg.jpg) top center repeat-x;}
.header { width:960px; margin:0 auto; padding:0;}
/* logo */
.logo { padding:0; margin:0; width:211px; float:left;}

/*login*/
.login {
	padding:8px 32px 0 0; margin:0; width:320px; float:right;
}
.login .login_img {
	float:right;
	width:62px;
	height:32px;
	margin:0px 0px;
	background-image:url(quote/images/login_reg.png);
	background-position: 0 0;
	background-repeat:no-repeat;
	line-height:30px;
	text-align:center;
	color:#fff;
}
/*.body_resize { margin:0 auto; padding:10px 35px; background:#ffffff; width:900px;}*/
.middlebody { background:#dadada;}
.middlebody .body_resize { margin:0 auto; padding:10px 35px; background:#ffffff; width:900px;}

.rss { width:220px; float:left; height:35px; text-align:left; font:normal 11px Arial, Helvetica, sans-serif; color:#fff; padding:15px 10px 0 0; margin:0;}
.rss img { float:right; margin:0 3px; padding:0;}
.text { width:350px; text-align:right; float:right; margin:0; padding:15px 0 0 20px; font: normal 11px Arial, Helvetica, sans-serif; color:#fff;}
.text a { color:#84daf1; text-decoration:none;}
/* menu */	
.menu { padding:35px 0 25px 20px; margin:0; width:430px; float:right; }
.menu ul { text-align: left;  padding:0; margin:0; list-style:none; border:0; float:left;}
.menu ul li { float:left; margin:0; padding:0 5px; border:0;}
.menu ul li a { float:left; margin:0; padding:12px 0; color:#fff; font:normal 11px Arial, Helvetica, sans-serif; text-decoration:none;}
.menu ul li a span { padding:12px 9px; background:none;}
.menu ul li a:hover { color:#124457; background: url(images/r_menu.gif) no-repeat right;}
.menu ul li a:hover span {  color:#124457;   background:url(images/l_menu.gif) no-repeat left;}
.menu ul li a.active {  color:#124457;  background:url(images/r_menu.gif) no-repeat right;}
.menu ul li a.active span { color:#124457;    background:url(images/l_menu.gif) no-repeat left;}
/* search */
.search { padding:8px 30px 0 0; margin:0; width:320px; float:right;}
.search form { display:block; float:right; padding:0;}
.search span { display:block; float:left; background: url(images/search_bg.gif) left top no-repeat; width:146px; padding:0 5px ; height:27px;}
.search form .keywords { font:normal 12px Arial, Helvetica, sans-serif; color:#58949e; line-height:15px; height:15px; float:left; background:none; border:0; width:146px; padding:6px 0; margin:0;}
.search form .button { float:left; margin:0; padding:0;}
/*FBG_blog*/
.header_blog {border-top:1px solid #589bb0; margin:0; padding:15px 0 0 0;}
.header_blog_resize { width:960px; margin:0 auto; padding:10px 0;}
.header_blog_resize h2 { font: bold 36px Arial, Helvetica, sans-serif; color:#fff; padding:0; margin:0;}
.header_blog_resize p { font: normal 20px Arial, Helvetica, sans-serif; color:#fff; padding:0; margin:0;}
.header_blog_resize p span { font: normal 20px Arial, Helvetica, sans-serif; color:#fff;}
.header_blog_resize img { float:right; margin:0; padding:0;}
.header_blog_resize .recent {  float:left; padding:0; margin:5px 0  0 0; text-justify : auto; text-align:justify;}
/* Ca3er style */
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.cu3er_resize { width:960px; margin:0 auto; height:392px; padding:0 0 0; background: url(images/simple_bg.gif) no-repeat bottom;}
#cu3er-container { width:960px; outline:0; }
/********** body **********/
.body_resize { margin:0; padding:0;}
.body { width:960px;  margin:0 auto; padding:10px 0;}
.body_bg { border:1px solid #d1d1d1; background:#f7f7f7; margin:0; padding:10px 20px;}
.body_main { margin:0; padding:10px 20px;}
.body h2 { font: normal 24px Arial, Helvetica, sans-serif; color:#606060; margin:0; padding:15px 0;}
.body h3 { font: normal 18px Arial, Helvetica, sans-serif; color:#606060; margin:0; padding:10px 0;}
.body h3 span { font: normal 11px Arial, Helvetica, sans-serif; color:#29b0ce;}
.body img {  padding:0; margin:0 auto;}
.body img.floated { float:left; padding:0; margin:10px 15px 10px 5px;}
.body p { font:normal 12px Arial, Helvetica, sans-serif; color:#606060; line-height:1.5em; padding:5px 0; margin:0;}
.body p span  { font: normal 11px Arial, Helvetica, sans-serif; color:#9c9c9c;}
.body a { text-decoration:none; color:#4b4b4b;}
.body a.about { font: bold 12px Arial, Helvetica, sans-serif; color:#1c789a; text-decoration:underline;}
.right { width:296px; float:right; padding:5px 10px 5px 0; margin:0;}
.left { width:590px; float:left; padding:5px 0 5px 20px; margin:0;}
.block { width:231px; float:left; margin:10px 5px 10px 1px; padding:10px 0;}
.port_resize { width:290px; float:left; margin:0; padding:10px 15px;}
/* END_bloga*/
/*************footer**********/
.footer {padding:0;  margin:0; height:59px;  background: url(images/footer_bg.gif) top repeat-x; border-top:1px solid #fff;}
.footer_resize { width:960px;  margin:0 auto; padding:0 10px;}
.footer p { font:normal 11px  Arial, Helvetica, sans-serif; color:#b2b2b2;}
.footer img { float:left; margin:0; padding:0;}
.footer a { font:normal 11px Arial, Helvetica, sans-serif; color:#28a2c5; text-decoration:none; padding:5px; margin:0;}
.footer p.right { text-align:right; width:450px; margin:0; padding:15px 0 0 0; float:right;} 
.footer p.leftt { text-align:left; width:550px; margin:0; padding:15px 0 0 0; float:left;} 
/********** contact form **********/
.form { float:left; width:550px; margin:5px auto; padding:0; background:#fff; border:1px solid #dedede;}
/********** contact form **********/
#contactform { margin:0; padding:5px 0;}
#contactform * { color:#7a7a7a;}
#contactform ol { margin:0; padding:0; list-style:none;}
#contactform li { margin:0; padding:0; background:none; border:none; display:block;}
#contactform li.buttons { margin:5px 0 5px 0;}
#contactform label { float:left; margin:0; width:150px; padding:5px 0; font:normal 12px Arial, Helvetica, sans-serif; color:#222; text-transform:capitalize;}
#contactform label span { font:normal 10px Arial, Helvetica, sans-serif;}
#contactform input.text { width:500px; border:1px solid #e8e8e8; margin:5px 0; padding:5px 2px; height:15px; background:#f8f8f8; float:left;}
#contactform textarea { width:500px; border:1px solid #e8e8e8; margin:10px 0; padding:2px; background:#f8f8f8; height:150px; float:left;}
#contactform li.buttons input { padding:3px 0; margin:5px 0 0 5px; border:0; color:#FFF;}
p.response { text-align:center; color:#2c2c2c; font:bold 11px Arial, Helvetica, sans-serif; line-height:1.5em; width:auto;}

p.clr, .clr { clear:both; padding:0; margin:0;}
li.bg, .bg { clear:both; border-bottom:1px solid #d2d2d2; padding:10px 0 0 0; margin:0 0 10px 0; background:none; list-style:none;}